# Copia este archivo como .env y rellena con TUS credenciales
# Nunca subas el .env real a GitHub

PORT=3000
MONGO_URI=mongodb://tucorreoaqui_db_user:<db_password>@ac-cfkdjbj-shard-00-00.xhxglrq.mongodb.net:27017,ac-cfkdjbj-shard-00-01.xhxglrq.mongodb.net:27017,ac-cfkdjbj-shard-00-02.xhxglrq.mongodb.net:27017/?ssl=true&replicaSet=atlas-6wvyf8-shard-0&authSource=admin&appName=Cluster0
MONGO_DB_NAME=taskflow_api
